article{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 10em;  
}
.imgloading{
   margin-bottom: 0.8em;
    width: 100px;
    height: 100px;
  }
  p{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    width: 80%;
    color:white;
    background-color:black;
   font-weight: 500;
   padding: 0.2em;
   border-radius: 0.2em;  
}